/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.FloorteBtn .fl-callout-text a {
  color: #56728d !important;
}
.uabb-creative-menu-mobile-toggle {
  padding: 0px !important;
}

.fl-builder-edit
  body:not(.single-fl-theme-layout)
  .fl-builder-content[data-overlay="1"] {
  display: block !important;
}

.top-bar-nav ul#menu-top-bar-menu li a,
.top-bar-nav ul#menu-top-bar-menu li a *,
.fl-page-bar-text font span {
  font-size: 14px !important;
}

.fl-page-bar a *,
.fl-page-bar a *:hover {
  color: #fff !important;
  font-size: 14px;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-2x {
  font-size: 18px !important;
  vertical-align: text-bottom !important;
}

.Floorvan_form a {
  color: #56728d !important;
}

/*Workbook css start here */

.workbookImages h3.uabb-simplify {
  margin-bottom: 20px !important;
}

.signinButton .fl-button-wrap .fl-button {
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 0px;
  height: 45px;
  width: 153px;
  letter-spacing: 2px;
  line-height: 33px;
  text-align: center;
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.signinButton .fl-button-wrap .fl-button span {
  color: #fff !important;
}

/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/

ul.social-icons li a:hover i {
  color: #56728d;
}

.privacy-policy-row .storename,
.privacy-policy-row .phone {
  display: inline-block;
}

#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before {
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 25px;
}

.ui-datepicker-title select {
  color: #414042;
}

.fl-page-bar-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #c9c1b4;
}

.d-none .fl-heading span {
  font-size: 0px !important;
}

.headerMain .fl-col-group {
  display: flex;
  justify-content: space-between;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input {
  width: calc(5rem + 8px) !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-right: -25px;
}

.gform_wrapper
  .field_sublabel_below
  div[class*="gfield_time_"].ginput_container
  label {
  margin: 1px 0 9px 13px !important;
}

body .gform_wrapper .top_label div.ginput_container.ginput_container_time {
  margin-right: 30px !important;
}

.fullWidthBanner img {
  width: 100%;
}

.phone > a {
  font-weight: 400;
  color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
  border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}

.gform_wrapper ul.gform_fields li.gfield select {
  padding: 14px 5px !important;
  min-width: 60px;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
  background: #949494;
}

.fl-page-bar-row .fl-page-bar-text-2 {
  padding: 10px 0 0 0;
}

.fl-page-bar-row .fl-page-bar-text-2 a {
  font-size: 16px;
}

.fl-page-bar-row .fl-page-bar-text-2 i {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: -3px;
}

.fl-page-bar-nav .menu-item .storename li .phone a:before {
  content: "\f095";
  font-family: FontAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: middle;
  margin: 2px 5px 0 0px;
  font-weight: 400;
  font-size: 18px;
}

#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs {
  max-height: 456px;
}
div#breadcrumbs {
  position: absolute;
  left: 0;
  right: 0;
  top: 260px;
  z-index: 9;
}
div#breadcrumbs .container {
  width: 100%;
  padding: 0 60px;
  max-width: 100%;
}
.row.search-row {
  padding-top: 280px;
}
.uabb-gf-style .ginput_container_select:after {
  content: "\f0d7";
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.location_div {
  padding: 5px;
}
.fl-module.ipFun .fl-html {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px !important;
}
.fl-module.ipFun .fl-html .location_div {
  display: flex;
  align-items: center;
  font-variant: all-petite-caps;
}
.location_div .loc_phone {
  padding: 0 0px 0px 10px;
}
.fl-module.ipFun .fl-html a.openflyer.uabb-offcanvas-trigger {
  padding: 0 5px !important;
  border-left: 1px solid #fff;
}

.fl-module.ipFun a.openflyer.uabb-offcanvas-trigger {
  color: #000;
  font-variant: all-petite-caps;
}
.fl-module.ipFun a.openflyer.uabb-offcanvas-trigger:hover {
  color: #fff;
}

/* body.home header {
    padding-top: 48px;
} */

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #ed3f42;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #ed3f42 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #414042 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #414042 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #ed3f42 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #414042 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #414042 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #ed3f42 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #414042 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #ed3f42 !important;
}

@media (max-width: 1400px) {
  .w-md-100 {
    width: 80% !important;
    margin-top: 40px;
  }
}
@media (max-width: 1300px) {
  .w-md-100 {
    width: 100% !important;
    margin-top: 40px;
  }
  /* .w-md-100 .fl-col-content.fl-node-content {
        margin: 20px;
    } */
}

@media (min-width: 1024px) {
  .fl-page-bar .fl-page-bar-nav > li > a {
    padding: 2px 60px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .w-md-100 {
    width: 100% !important;
    margin-top: 40px;
  }
  .w-md-100 .fl-col-content.fl-node-content {
    margin: 20px;
  }
  .location-bottom-row .fl-col.fl-col-small {
    width: 100% !important;
    max-width: 400px;
    margin: 0 auto !important;
    float: none;
  }
  .location-bottom-row
    .uabb-module-content.uabb-infobox.infobox-left.infobox-responsive-center {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .headerMain .headerRightNav {
    margin-left: 30px;
  }
  .fl-node-5d08ac826d1d6
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding: 10px 8px !important;
  }
  .navigation-col,
  .search-icon-col {
    display: none !important;
  }
  .visualize-text .uabb-infobox {
    padding: 20px;
  }
  .service-finance-logo .fl-html {
    text-align: center;
  }
}

@media (min-width: 769px) {
  div#breadcrumbs {
    background: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0);
  }
  #breadcrumbs a {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .fl-page-bar .text-right .fl-page-bar-nav {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .fl-module.ipFun .location_div .location_name,
  .fl-module.ipFun .location_div .loc_phone,
  .fl-module.ipFun .fl-html a.openflyer.uabb-offcanvas-trigger {
    font-size: 12px;
  }
  .fl-module.ipFun .fl-html a.openflyer.uabb-offcanvas-trigger {
    border-left: none;
  }
  header .fl-module .fl-rich-text > p {
    margin: 0px !important;
    padding: 0px !important;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  #responsive-menu-container #responsive-menu-search-box,
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title {
    padding: 10px 5% !important;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-page-nav-right .fl-page-nav-wrap {
    display: none;
  }
  .headerMain .fl-col-group {
    display: flex;
    align-items: center;
  }
  .headerMain .headerRightNav {
    margin: 0;
  }
  .headerMain .headerLogo {
    flex: 2;
  }
  .w-100 {
    width: 100%;
  }
  .headerMain .phone.retailer {
    font-size: 26px;
    color: #3b5267;
    margin-right: 30px;
    vertical-align: middle;
    font-family: "Ultimate-Icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .headerMain .phone.retailer:before {
    content: "\ea3e";
  }
  .headerMain .phone.retailer span {
    font-size: 0;
  }
  .iPadFooter .fl-col-group {
    display: flex;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 1;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    justify-content: center;
  }
  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
    flex: 3;
  }
  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
    flex: 1;
  }
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 33.33%;
  }
  .galleryImages .uabb-photo-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  header {
    position: static !important;
  }
  div#breadcrumbs {
    position: static;
  }
  div#breadcrumbs a {
    color: #eb4147;
  }
  .service-finance-logo .fl-html {
    text-align: center;
  }
  .roomvo-get-started-btn .fl-html {
    text-align: center;
  }
  div#breadcrumbs .container {
    padding: 0 20px;
  }
  button#responsive-menu-button {
    top: 35px !important;
  }
  .location-flyer-col .fl-html {
    text-align: center;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .row.search-row {
    padding-top: 0;
  }
  .blog_h1 {
    margin-top: 0 !important;
  }
}

@media (max-width: 767px) {
  .highlightPoits .fl-col-group .fl-col {
    width: 100% !important;
  }
  .highlightPoits .fl-col-group .fl-col .fl-col-content {
    border: 0;
  }
  .fl-page-bar-text font,
  .top-bar-nav ul#menu-top-bar-menu li a,
  .top-bar-nav ul#menu-top-bar-menu li a * {
    font-size: 12px !important;
  }
  .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text > p {
    margin-bottom: 0;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav
    .navbar-toggle {
    display: none !important;
  }
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title,
  #responsive-menu-container #responsive-menu-search-box {
    padding: 10px 5% !important;
  }
  #responsive-menu-additional-content .storename li .phone span::before {
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  button#responsive-menu-button {
    z-index: 99999 !important;
  }
  #menu-about-us,
  #menu-inspiration-menu,
  #menu-flooring-menu {
    text-align: left !important;
  }
}

@media (max-width: 604px) {
  .top-bar-nav ul#menu-top-bar-menu li a,
  .top-bar-nav ul#menu-top-bar-menu li a * {
    line-height: 1.5 !important;
  }
  .uabb-masonary .uabb-masonary-item {
    width: 100% !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 64% !important;
  }
}

@media (max-width: 480px) {
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
  }
  .location-top .fl-button {
    text-align: unset;
  }
  .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
    right: 20px;
  }
  .fl-node-5d1f5d4b47fe6 [dir="rtl"] div.uabb-image-carousel .slick-prev {
    left: 20px;
  }
  .iPadFooter .fl-col-group {
    flex-direction: column;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 2;
    width: 100% !important;
    text-align: center;
  }
  ul#menu-copyright-bar-menu {
    justify-content: center;
    flex-direction: column;
  }
  #responsive-menu-container {
    width: 84% !important;
  }
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    .responsive-menu-item-link,
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    .responsive-menu-item-link {
    font-size: 11px !important;
  }
}

@media (max-width: 414px) {
  .fa-2x {
    font-size: 16px !important;
  }
}

@media (max-width: 379px) {
  .top-bar-nav .fl-page-bar-nav > li > a {
    padding: 2px 5px;
  }
  .fl-page-bar-row .col-md-6.text-right {
    padding-left: 5px;
  }
  .fl-page-bar-row .col-md-6.text-left {
    padding-right: 5px;
  }
  .fl-page-bar-text font,
  .top-bar-nav ul#menu-top-bar-menu li a,
  .top-bar-nav ul#menu-top-bar-menu li a * {
    font-size: 11px !important;
  }
  button#responsive-menu-button {
    top: 80px !important;
    right: 2% !important;
  }
}

@media (max-width: 374px) {
  .fl-page-bar {
    display: none;
  }
}
@media (max-width: 350px) {
  .fl-module.ipFun .location_div .location_name,
  .fl-module.ipFun .location_div .loc_phone,
  .fl-module.ipFun .fl-html a.openflyer.uabb-offcanvas-trigger {
    font-size: 10px;
  }
  .fl-module.ipFun .fl-html a.openflyer.uabb-offcanvas-trigger {
    border-left: none;
  }
}
aside#moove_gdpr_cookie_info_bar {
  position: fixed;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: +99999;
  bottom: auto;
}
.swell-chat-fixed {
  z-index: 9999 !important;
}
